<p style="color: green"><%= notice %></p>

<h1>Mis Suscripciones</h1>

<div id="subscriptions">
  <% if @subscriptions.any? %>
    <ul>
      <% @subscriptions.each do |subscription| %>
        <li>
          <%= subscription.category.name %> <!-- Muestra el nombre de la categoría -->
          <%= button_to 'Desuscribirse', unsubscribe_subscription_path(subscription), method: :delete, class: 'btn btn-danger' %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No tienes suscripciones.</p>
  <% end %>
</div>

