<div id="<%= dom_id price_history %>">
  <p>
    <strong>Datte:</strong>
    <%= price_history.datte %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= price_history.price %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= price_history.product_id %>
  </p>

</div>
