<h1>Editing price history</h1>

<%= render "form", price_history: @price_history %>

<br>

<div>
  <%= link_to "Show this price history", @price_history %> |
  <%= link_to "Back to price histories", price_histories_path %>
</div>
