<p style="color: green"><%= notice %></p>

<h1>Price histories</h1>

<div id="price_histories">
  <% @price_histories.each do |price_history| %>
    <%= render price_history %>
    <p>
      <%= link_to "Show this price history", price_history %>
    </p>
  <% end %>
</div>

<%= link_to "New price history", new_price_history_path %>
